@charset "UTF-8";
html{
    background: url(2d0409487741a19dedfbd03c6661f305.jpg);
    color: rgb(173, 142, 0);
    font-family: serif;
    width: 800px;
    margin: 0 auto;
}
h1{
    font-family: 'Nothing You Cloud Do', cursive;
}
a{
    color: aquamarine;
}
a:visited{
    color: rgb(172, 13, 13);
}
a:hover{
    color: violet;
}
a:active{
    background-color: rgb(68, 0, 128);
}
hr{
    width: 1000px;
}
